@import "tailwindcss";

.mainColor {
  @apply bg-[#0C1618];
}

.accentColor {
  @apply bg-[#004643];
}

.textColor {
  @apply text-[#FAF4D3];
}

.headerColor {
  @apply bg-[#004643]/30
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-raleway {
  font-family: var(--font-raleway);
}


body {
  @apply bg-[#0C1618] text-[#FAF4D3] antialiased;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0C1618;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #004643;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0)643;
}